extends layout

block links
	link(href="stylesheets/index.css", rel="stylesheet", type="text/css")

block content
	form(method="get", action="/show")
		.centering
			p(class="large")
				span http://
				input(type="text", name="id", size="5")
				span .tumblr.com
				input(type="submit", value="show!")
		
		.righting
			p
				span.options
					label(for="random1") Random:
					input(type="checkbox", name="random", id="random1")
					span  Photo size: 
					label(for="p500_2") 500
					input(type="radio", name="size", id="p500_2", value="500", checked)
					label(for="p1280_2") 1280
					input(type="radio", name="size", id="p1280_2", value="1280")
			
		.centering
			p(class="large") - or -
	
	form(method="get", action="/show")
		.centering
			p(class="large")
				span http://
				input(type="text", name="custom", size="20")
				input(type="submit", value="show!")
		
		.righting
			p
				span.options
					label(for="random2") Random:
					input(type="checkbox", name="random", id="random2")
					span  Photo size: 
					label(for="p500_2") 500
					input(type="radio", name="size", id="p500_2", value="500", checked)
					label(for="p1280_2") 1280
					input(type="radio", name="size", id="p1280_2", value="1280")
	
	.howto
		h1 How to Use?
		
		ul
			li ①Enter someone tumblr ID↑ OR Enter custom tumblr domain url
			li ②Click "show!" button
			li ③Enjoy your tumblr life!

		h1 Options
		ul
			li Random: Random polling selecting tumblog if this checked
			li Photo Size: Choose photo size. 500 is fast but ugly, 1280 is slow but beautiful.
	
	.madeby
		p
			span made by 
			a(href="/show?custom=tumblr.jgs.me") jigsaw

	.centering
		img(src="images/logo.png")
