extends layout

block links
	link(href="stylesheets/index.css", rel="stylesheet", type="text/css")

block content
	form(method="get", action="/show")
		img(src="images/logo.png")
		p
			span http:// 
			input(type="text", name="id", size="5")
			span .tumblr.com
			input(type="submit", value="show!")
		span random
		input(type="checkbox", name="random")
		p - or -
	form(method="get", action="/show")
		p
			span http://
			input(type="text", name="custom", size="20")
			input(type="submit", value="show!")
		span random
		input(type="checkbox", name="random")
	ul
		li ①Enter someone tumblr ID↑ OR Enter custom tumblr domain url
		li ②Click "show!" button
		li ③Enjoy your tumblr life!
	p
		span made by 
		a(href="/show?custom=tumblr.jgs.me") r-jigsaw
