img(src="img/logo.png")
form(method="get", action="/").
    http:// <input type="text" name="id" size="5" /> .tumblr.com <input type="submit" value="show!" id="s" />
p ①Enter someone tumblr ID↑ ②Click "show!" button ③Enjoy your tumblr life!
p.
    made by {<a href="/?id=e-jigsaw">e</a>|<a href="?id=r-jigsaw">r</a>}-jigsaw