extends layout

block links
	link(href="stylesheets/viewer.css", rel="stylesheet", type="text/css")

block scripts
	script(src="javascripts/jquery.js")
	script(src="javascripts/knockout.js")
	script(src="javascripts/viewer.js")

block content
	#viewer(data-bind="foreach: posts")
		.post.wait(data-bind="style: {backgroundImage: 'url('+photo_url+')'}")
		