body
    margin 0
    background-color #000
    color #FFF

.large
    text-shadow 0 0 5px #fff
    font-size 60px
    margin-bottom 0

.centering
    text-align center

.righting
    text-align right

.options
    background-color #990033
    padding 5px 16% 5px 5px

input[type="text"]
    font-size 60px

input[type="submit"]
    font-size 60px
    font-family Arial
    font-weight normal
    -moz-border-radius 8px
    -webkit-border-radius 8px
    border-radius 8px
    border 1px solid #dcdcdc
    padding 9px 18px
    text-decoration none
    background -webkit-gradient( linear, left top, left bottom, color-stop(29%, #ededed), color-stop(76%, #dfdfdf) )
    background -moz-linear-gradient( center top, #ededed 29%, #dfdfdf 76% )
    background -ms-linear-gradient( top, #ededed 29%, #dfdfdf 76% )
    background-color #ededed
    color #777777
    display inline-block
    text-shadow 1px 1px 0px #ffffff
    -webkit-box-shadow inset 1px 1px 0px 0px #ffffff
    -moz-box-shadow inset 1px 1px 0px 0px #ffffff
    box-shadow inset 1px 1px 0px 0px #ffffff
    &:active
        position relative
        top 5px

.howto, .madeby
    padding-left 5%
    ul
        list-style-type none
    a
        color #eee
        text-decoration none
        &:hover
            text-decoration underline overline